body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    color: #000;
}

section {
    margin-bottom: 20px;
}
 #about{
    background-color: rgb(80, 183, 215);
    width: 100%;
    float: none;
    padding-left: 5px;
    border-radius: 30px;
    display: inline-block;
}
#experience{
    background-color: rgb(63, 225, 225);
    width: 48%;
    float: none;
    display: inline-block;
   
    border-radius: 30px;
    

}
#education{
    background-color: rgb(97, 228, 254);
    width: 50%;
    float: right;
    padding-left: 5px;
    border-radius: 30px;
    display: inline;
    font-size: 30;
    font-style: italic;
    
}
#skills{
    background-color: rgb(99, 221, 254);
    width: 100%;
    float: none;
   padding-right: 5px;
    border-radius: 30px;
    display: inline-block;
}
#contact{
    background-color: rgb(126, 207, 254);
    width: 100%;
    float: right;
    padding-right: 5px;
    border-radius: 30px;
    font-weight: bolder;
    color: #151213;
  
    display: block;
}




@media screen and (max-width: 1000px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}